[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = http://github.com/seebi/dircolors-solarized
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
